@model WebECommerce.Models.Company

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Company</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.City.NameCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City.NameCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State.NameState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State.NameState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameCompany)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameCompany)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mobile01)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mobile01)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mobilel02)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mobilel02)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WebPage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WebPage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Logo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Logo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CompanyId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
